.jumbotron {
    text-align: center;
}

.image {
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.top {
    margin-top: 0;
}

Button {
    width: 100%;
}

input {
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}

.jumbotron, .create {
    background-color: #3F51B5;
    color: white;
}